@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap"; // All Bootstrap default styles
@import "compass";

// =========================
//     VARIABLES & MIXINS
// =========================

$oswald-stack: 'Oswald', sans-serif;
$droid-sans-stack: 'Droid Sans', sans-serif;
$yellow: #ffe10e;
$gold: #d9b307;
$offwhite: #f4f4f4;
$gray: #545454;
$light-gray: #e2e2e2;
$charcoal: #232323;

@mixin transition-basic {
    @include transition-property(all);
    @include transition-duration(.1s);
    @include transition-timing-function(ease-in-out);
}
@mixin yellow-gradient {
    @include background-image(linear-gradient($yellow, $gold));
}
@mixin yellow-gradient-reversed {
    @include background-image(linear-gradient(darken($gold, 5%), darken($yellow, 12%)));
}

@mixin the-transition ($time: 1s, $property: all, $delay: 0s) {
    -webkit-transition:$property $time ease $delay;  
       -moz-transition:$property $time ease $delay;  
         -o-transition:$property $time ease $delay;  
            transition:$property $time ease $delay;
}

// =========================
//      GENERAL STYLES
// =========================

body {
    background: url(../img/dark-bg-body.jpg) repeat;
}
.col-center {
    margin: 0 auto;
    float: none;
}

.radius {
    @include border-radius(3px);
}
.button {
    @include background-image(linear-gradient($yellow, $gold));
    padding: .8rem 2.6rem;
    text-align: center;
    text-transform: uppercase;
    font-family: $oswald-stack;
    font-weight: 700;
    font-size: 2.2rem;
    color: $charcoal;
    text-shadow: 1px 1px 3px #faf298;
    @include transition-basic;
    &:hover {
        @include background-image(linear-gradient(darken($gold, 5%), darken($yellow, 5%)));
        color: white;
        text-decoration: none;
        text-shadow: 1px 1px 3px darken($gold, 15%);
    }
}
.button-simple {
    @extend .button;
    background: $yellow;
    text-shadow: none;
    &:hover {
        background: darken($yellow, 15%);
        text-shadow: none;
    }
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.center-text {
    text-align: center;
    padding-left: 0 !important;
}

.red-text {
    color: red;
}

// =========================
//      HEADER STYLES
// =========================

header {
    padding-top: 1rem;
}

.header-contact {
    img {
        width: 55%;
        &.pull-right {
            margin-top: 2rem;
        }
    }
    p.serving-since {
        span {
            color: $yellow;
            letter-spacing: 1px;
            font-size: 3.5rem;
        }
        color: #9d9c9c;
        text-align: center;
        font-family: $oswald-stack;
        font-weight: 400;
        margin-top: 1rem;
        font-size: 2rem;
    }
}

// =========================
//        NAV STYLES
// =========================

section.main-nav {
    margin-top: 3rem;
    .navbar {
        border-radius: 0 !important;
    }
    .navbar-default {
        @include yellow-gradient;
        border-top: 1px solid lighten($yellow, 15%);
        border-bottom: 1px solid darken($gold, 15%);
        border-left: none;
        border-right: none;
        margin-bottom: 0;
        .navbar-nav {
            li {
                text-transform: uppercase;
                font-family: $oswald-stack;
                font-weight: 700;
                @include transition-basic;
                a {
                    text-shadow: 1px 1px 3px #faf298;
                    color: $charcoal;
                    @include yellow-gradient;
                    @include transition-basic;
                    &:hover {
                        @include yellow-gradient-reversed;
                        color: $offwhite;
                        text-shadow: 1px 1px 3px darken($gold, 15%);
                    }
                }
            }
        }
    }
}

// =========================
//      SLIDER STYLES
// =========================


.slider-wrapper {
    margin-bottom: 2rem;
}
.slick-slider {
    margin-bottom: 0;
}
figure.image-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    max-height: 400px;
    background-color: $charcoal;
    figcaption {
        @include single-transition(all, 1s, ease, .5s);
        overflow: visible;
        position: absolute;
        top: 0;
        width: 50%;
        font-family: $oswald-stack;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        left: 25%;
        h2 {
            color: $offwhite;
            font-size: 5rem;
            letter-spacing: 1px;
            text-shadow: 3px 3px 10px rgba(0,0,0,0.7);
            margin-bottom: 3rem;

        }
        a.button-icon {
            @extend .button;
            width: 85%;
            margin: 0 auto;
            padding-right: 60px;
            position: relative;
            span {
                display: inline;
                position: absolute;
                top: 20%;
                right: 5%;
                width: 30px;
                height: 30px;

            }
        }
    }
}
.slick-slide, .slick-active {
    figure.image-cover figcaption {
        top: 25%;
        opacity: 1;
    }
}

// =========================
//    MAIN CONTENT STYLES
// =========================


section.panels-index {
    margin: 3rem 0;
    .panels {
        position: relative;
        overflow: hidden;
        article.panel-caption {
            position: absolute;
            bottom: -26%;
            width: 90%;
            padding: 1rem;
            @include background-image(linear-gradient($yellow, $gold));
            @include transition-basic;
            h3 {
                color: $charcoal;
                margin-top: .5rem;
                margin-bottom: 1rem;
                font-size: 2rem;
                &:after {
                    content: url(../img/read-more-icon-black.png) no-repeat;
                    position: absolute;
                    width: 29px;
                    height: 29px;
                    right: 5%;
                    top: 10%;
                    -moz-transform: rotate(90deg);
                    -webkit-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }
            p {
                color: $offwhite;
                font-size: 1.2rem;
            }
            &:hover {
                bottom: 0;
                h3 {
                    &:after {
                        -moz-transform: rotate(0deg);
                        -webkit-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        -ms-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }
                }
            }
        }
    }
}

.content-box {
    background: white;
    padding-bottom: 3rem;
    h1, h2 {
        height: 75px;
        background: $yellow;
        color: $charcoal;
        position: relative;
        padding: 2rem 0;
        margin: 0;
        padding-left: 9rem;
        span.headline-icon {
            display: block;
            background: $gray;
            width: 75px;
            height: 75px;
            position: absolute;
            top: 0;
            left: 0;
            img {
                padding-top: .9rem;
                margin-left: .9rem;
                width: 75%;
            }
        }
    }
    h2.headline-sub {
        color: $charcoal;
        font-family: $droid-sans-stack;
        font-weight: 400;
        background: none;
        height: auto;
        padding: 0;
        span {
            margin-left: 2rem;
        }
    }
    p {
        font-size: 1.7rem;
        padding: 2rem 3rem;
        margin: 0;
        color: $gray;
    }
    p.strip-padding {
        padding: 0;
        margin: 2rem 0;
    }
    .button {
        //font-size: 1.5rem;
        @media only screen and (min-width: 1201px){
            font-size: 1.5rem;
        }
        @media only screen and (min-width: 1023px) and (max-width: 1200px){
            font-size: .9rem !important;
        }

    }
    .button-icon {
        @extend .button;
        margin-bottom: 1rem;
        padding-right: 60px;
        position: relative;
        
        span {
            display: inline;
            position: absolute;
            top: 20%;
            right: 5%;
            width: 25px;
            height: 25px;

        }
    }
}
.content-box-append {
    border-top: 4px solid $yellow;
    background: $offwhite;
    padding: 3rem;
    h2 {
        margin: 0;
    }
    .button {
        font-size: 2rem;
    }
}

.sidebar {
    background: url(../img/sidebar-lined-bg.jpg) repeat;
    h2 {
        padding: 2rem .5rem;
        color: white;
        text-align: center;
        margin: 0;
        font-size: 2.5rem;
    }
    article.logos {
        text-align: center;
        p {
            color: white;
            padding: 0 2rem;
        }
        p.yellow {
            color: $yellow;
            font-size: 2rem;
        }
        img {
            width: 100%;
            margin: 0 auto;
            padding: 1rem 4rem;
        }
        hr {
            border-top: 1px solid $charcoal;
            //border-bottom: 1px solid $charcoal;
        }
    }
    
    article.sidebar-featured {
        padding: 2rem;
        text-align: center;
        h3 {
            color: $yellow;
            font-size: 2rem;
            margin-top: 0;
            font-family: $droid-sans-stack;

        }
        p {
            color: white;
            margin-bottom: 2rem;
        }
        a.button {
            font-size: 2rem;
        }
    }
}

div.faq-side{
    margin-left: 14px;
    text-align: center;
    border-bottom: 1px solid $charcoal;
    @include background-image(linear-gradient($yellow, $gold));
    background-repeat: repeat-x;
    padding: 0.5rem;
    text-align: center;
    @include transition-basic;
    height: 55px;
    &:hover {
        @include background-image(linear-gradient(darken($gold, 5%), darken($yellow, 5%)));
        text-decoration: none;
        text-shadow: 1px 1px 3px darken($gold, 15%);
        height: 55px;
    }
    span{
        width: 20%;
        float: left;
        // text-transform: uppercase;
        font-family: $oswald-stack;
        font-weight: 700;
        font-size: 3rem;
        color: $charcoal;
        text-shadow: 1px 1px 3px #faf298;
        @include transition-basic;
    }
    p{
        width: 80%;
        float: right;
        font-size: 0.8em;
        color: black;
    }
}

section.sub-header-img {
    margin-bottom: 3rem;
}
.auction-slider-wrapper {

    h2.headline-sub {
        color: $charcoal;
        text-align: center;
        padding: 2rem;
    }
}

.survey{
    border-bottom: 4px solid $yellow;
    background: url(../img/sidebar-lined-bg.jpg) repeat;
    color: white;
    padding: 1rem;
    text-align: center;
}

span.survey-icon {
    display: block;
    background: none;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    img {
        padding-top: .9rem;
        margin-left: 1.1rem;
        width: 75%;
    }
}

form{
    margin-top: 2em;
}

input{
    font-family: $droid-sans-stack;
    display:inline;
    float:left;
    padding-left: 1em;
    margin: 0.3em;
    float:right;
    clear:both;
}
input[id="name2"]{
    margin-bottom: 2em;
}
input[id="email2"]{
    margin-right: 1.5em;
    margin-bottom: 2em;
}
label[id="survey-comment"]{
    margin-top: 2em;
}

label[for="email2"]{
    margin-left: -1.3em;
}

label[for="name2"]{
    margin-left: -0.1em;
}

label{
    font-family: $droid-sans-stack;
    display:inline;
    padding-left: 2em;
    float: left;
    margin: 0.3em;
    margin-right: 8em;
}

.contact-img{
    width: 39.7%;
    padding: 1.8rem 1rem;
    margin-bottom: -3rem;
    // p img{
    //     border: 2px solid black;
    // }
}

.tow-rec{
     tr{
        td{
            text-align: center;
            padding-right: 0.5em;
            
            width:50%;
            img{
               margin: 1em;
            }
            span{
                padding: 0 0.5em 0 0.5em;
                font-size: 1.6em;
                font-family: $oswald-stack;
            }
            h4{
                padding: 1em;
            }
        }
    }
    tr:nth-child(even) {
        background: $light-gray;
    }

}

.storage{
     tr{
        td{
            text-align: center;
            padding-right: 0.5em;
            img{
                margin-bottom: 2em;
            }
            span{
                padding: 0 0.5em 0 0.5em;
                font-family: $oswald-stack;
            }
        }
    }

}

.impound{
    tr{
        td{
            text-align: center;
            padding: 0.5em;
            p{
                font-size: 1em;
            }
            
            span{
                font-size: 1em;
                font-weight: 700;
            }
        }
        td img{
            width: 100%;
        }
    }
    tr:nth-child(even) {
        background: $light-gray;
    }
}

.impound-add{
    border: 2px solid black;
    margin: 1.5em;
    -moz-box-shadow:    3px 3px 6px 3px #e2e2e2;
    -webkit-box-shadow: 3px 3px 6px 3px #e2e2e2;
    box-shadow: 3px 3px 6px 3px #e2e2e2;
    h3{
        margin-top: 0 !important;
        background: $yellow;
        padding: 1em;
        padding-left:0.5em;
    }
    a{
        color: $gray;
    }
}

.faq{
    -moz-box-shadow:    3px 3px 6px 3px #e2e2e2;
    -webkit-box-shadow: 3px 3px 6px 3px #e2e2e2;
    box-shadow: 3px 3px 6px 3px #e2e2e2;
    border: 2px solid black;
    margin: 2em;
    tr{
        td{
            padding: 0.7em;

            span{
                color: $gray;
            }
            a{
                font-weight: 700;
                color: $gray;
                &:hover{
                    color: $gold;
                }
            }
        }       
        td.question{
                font-weight: 700;
            }
    }
    tr:nth-child(even) {
        background: $light-gray;
        margin-bottom: 0.5em;
    }
}

.services{
    tr{

        td{
            padding: 1em;
            h3, p, ul{
                text-align: center;
                color: $gray;
            }
            h3{
                padding-left: 0.5em;
            }
            a{
                color: $gray;
            }
            img{
                border: 2px solid $gray;
            }
        }
    }
    tr:nth-child(even) {
        background: $light-gray;
    }
}

input[type="radio"]{
    height: 20px;
    width: 20px;
    margin-right: 3em;
    margin-left: -4em;
}
.form-group {
    padding-left: 3em;

}

.form-btn{
    margin-left: 2.4em;
    margin-top: -10px;
    margin-left: 3.1em;
}

label{
    padding-left: 0;
}

.about-btn{
    margin-top: 3em;
    margin-left: 3em;
}

// AUCTION STYLES

.auction {
    margin: 2em;
    padding: 2em;
    border: 2px solid $yellow;
    -moz-box-shadow:    3px 3px 6px 3px #e2e2e2;
    -webkit-box-shadow: 3px 3px 6px 3px #e2e2e2;
    box-shadow: 3px 3px 6px 3px #e2e2e2;
    tr{
        td{
            text-align: center;
            padding: 0.8em;
            p{
                font-size: 1.2em;
            }
            
            span{
                font-size: 1.2em;
                font-weight: 700;
            }
        }
        td img{
            width: 100%;
        }
    }
    tr:nth-child(even) {
        background: $light-gray;
    }
}

.auction-img{
    img{
        margin: 2em;
    }
}

.small-blocks {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -ms-flex-wrap: wrap;  // IE 10 FIX FOR WRAPPING FLEXBOXS
    flex-wrap: wrap;  // IE 11 and ~ FIX FOR WRAPPING FLEXBOXS
    display: flex;
    list-style: none outside none;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    li {
        width: 200px;
        height: 200px;
        float: none;
        padding: 0;
        text-align: center;
        margin-bottom: 2.3rem;
        figure {
            position: relative;
            width: 100%;
            @include transition( all,0.2s,ease );
            &:hover {
                .capwrapper {
                    display: block;
                    bottom: 49px;
                    background: rgba(0, 0, 0, 0.8);
                }
            }
        }
        a {
            font-size: 1.2em;
            color: $gray;
            &:hover {
                color: $gold;
            }
        }
    }
    img {
        width: 200px;
        height: 150px;
        float: none;
        padding: 0;
        text-align: center;
        margin-bottom: 2.3rem;
    }
}
.capwrapper {
    @include transition( all,0.2s,ease );
    position: absolute;
    bottom: 45px;
    width: 100%;
    text-align:center;
    display: none;
    padding: 0.3em 0;
    background: rgba(0, 0, 0, 0.0);
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
}
#sku a {
    color: white;
    font-size: 0.9em;
}

.auction-list{
    margin: 1.3em;

    span{
        a{
            text-align: center;
            margin-bottom: 1em;
        }
    }
}

.vehicle-img {
    margin: 2em;
    border: 4px solid #545454;
}

.info-container {
    background-color: $light-gray;
    border-left: 4px solid #ffe10e;
    padding: 1em;
    margin-right: -8px;
    margin-bottom: -2.1em;
}

.vehicle-info {
    margin: 1em;
    p {
        margin-bottom: 1em;
        padding: 0;
    }
    span {
        font-weight: 700;
    }
}

#search-btn {
    margin-top: 1.5em;
}

.home-btn {
    font-size: 1.15rem !important;
    padding: 1rem 2rem !important;
}

.auctions-btn {
    @extend .button;
    padding: 1rem 2rem !important;
    font-size: 1.15rem !important;
}

.auctions-info {
    color: $charcoal !important;
    text-align: center;
}

.auction-top {
  background-color: $light-gray;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-bottom: 3px solid $charcoal;
}

.auction-vehicles {
    margin-top: 1em;
}

#cboxClose {
    background: url(../img/controls.png) no-repeat -25px 0 !important;
}

#cboxContent {
    border: 8px solid $light-gray;
}

#cboxOverlay {
    background: black !important;
}

.auction-info {
    padding-left: 4em;
    p {
        padding-bottom: 1em;
        padding-top: 0.5em;
    }
}

#auction-info-box {
    margin: 2em 0;
}

   // =========================
   //  FOOTER STYLES
   // =========================



footer {
    margin-top: 3rem;
    background: $gray;
    padding: 2rem;
    color: white;
    ul.social {
        list-style: none;
        margin-bottom: 1rem;
        li {
            display: inline;
        }
        img {
            &:hover{
                border: 2px solid white;
            }
        }
    }
}
//    =========================
//     TYPOGRAPHY OVERRIDES
//    =========================
//

h1, h2, h3, h4, {
    font-family: $oswald-stack;
    font-weight: 700;
    text-transform: uppercase;
}
p, li {
    font-family: $droid-sans-stack;
    font-weight: 400;
}

ul.no-bullet{
    list-style-type: none;
}

a{
    color: $gold;
    &:hover {
        color: darken($gold, 30%);
    }
}

   // =========================
   //  MEDIA QUERIES
   // =========================



/* Extra small devices (smartphones, 640px and up) */
@media only screen and (min-width: 320px) and (max-width: 767px){
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
    }
    .navbar-default .navbar-toggle {
        border-color: darken($gold,5%);
    }
    .navbar-default .navbar-toggle .icon-bar {
        background: $charcoal;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background: $gold;
    }
    section.main-nav {
        .navbar-default {
            .navbar-nav {
                background: $charcoal;
                li {
                    border-bottom: 1px solid lighten($charcoal,5%);

                    a {
                        text-shadow: none;
                        color: $offwhite;
                        background: $charcoal;
                        font-size: 2rem;
                        margin: .5rem 0;
                        &:hover {
                            background: darken($charcoal, 10%);
                            color: $offwhite;
                            text-shadow: none;
                        }
                    }
                }
            }
        }
    }
    .header-contact {
        img {
            width: 100%;
        }
        p.serving-since {
            span {
                font-size: 3rem;
            }
            font-size: 1.5rem;
            margin-top: 2rem;
        }
    }
    figure.image-cover {
        figcaption {
            width: 90%;
            left: 10%;
            h2 {
                font-size: 2.5rem;
            }
        }
    }
    .content-box {
        h1, h2 {
            font-size: 3rem;
            padding-left: 1rem;
            text-align: center;
            height: auto;
            span.headline-icon {
                display: none;
            }
        }
        .button {
            float: none;
            margin-left: 15%;
        }
        .button-simple {
            margin-left: 0;
            font-size: 1.4rem;
            width: 100%;
        }
        h2.headline-sub {
            span {
                margin-bottom: 1rem;
            }
        }
        p.strip-padding {
            text-align: center;
            position: sticky
        }
    }

    .sub-inner-container {
        margin-top: 3rem;
    }
    .content-box-append-touch {
        border-top: 4px solid $yellow;
        background: $offwhite;
        padding: 4rem 0;
        a {

            h2 {
                text-align: center;
                font-size: 2rem;
                color: $gray;
                margin: 0;
            }
        }
        &:hover {
            background: darken($offwhite,10%);
        }
    }
    .sidebar {
        margin-top: 2rem;
        article.logos {
            img {
                width: 75%;
            }
        }
    }
    footer {
        p.copyright {
            text-align: center;
        }
        ul.social {
            margin-bottom: 2rem;
        }
    }

    .capwrapper {
        bottom: 10px;
    }
}
/* Extra small devices and up */
@media only screen and (min-width: 320px) {
    .slick-prev, .slick-next {
        display: none !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .slick-prev, .slick-next {
        display: none !important;
    }

    .capwrapper {
        bottom: 10px;
    }
}
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header-contact {
        img {
            width: 100%;
            &.pull-right {
                margin-top: 2rem;
            }
        }
    }
    section.panels-index {
        .panels {
            article.panel-caption {
                width: 92%;
                bottom: 0;
                h3 {
                    font-size: 1.7rem;
                }
            }
        }
    }
    .content-box {
        h2 {
            font-size: 2rem;
            padding-left: 7rem;
            text-align: center;
            padding-top: 2.5rem;
        }
        .button {
            margin-right: 5%;
            float: right;
            font-size: 1.5rem;
        }
        
        .button-simple {
            float: none;
        }
        p.strip-padding {
            text-align: center;
        }
        .button-icon {
            font-size: 1rem;
        }
    }
    .content-box-append {
        border-top: 4px solid $yellow;
        margin-top: 3rem;
        .button {
            font-size: 1rem;
            margin-top: 2rem;
        }
    }
    .sidebar {
        h2 {
            font-size: 2rem;
        }
        article.sidebar-featured {
            a.button {
                font-size: 1.5rem;
            }
        }
    }

}

/* Medium devices (desktops, 1023px and up) */
@media only screen and (min-width: 1023px) and (max-width: 1280px) {
    .navbar-default li {
        font-size: 1rem;
    }
}
/* Medium devices and Up */
@media only screen and (min-width: 1023px) {
    .navbar-default li {
        padding: 0;
        font-size: 2rem;
    }
    .slick-prev, .slick-next {
        display: block !important;
    }
    .content-box {
        a.button {
            float: none;
        }
        
    }
}

/* Large devices (desktops, 1281px to 1599px) */
@media only screen and (min-width: 1281px) and (max-width: 1599px) {

}
/* Large devices and Up */
@media only screen and (min-width: 1280px) {
    .navbar-default li {
        padding: 0 1.5rem;
        font-size: 2rem;
    }
    
}
/* Extra large devices (desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
    .content-box {
        .button-icon {
            font-size: 1.5rem;
        }
    }
}

img {
      max-width: 100%;
      height: auto;
      -ms-interpolation-mode: bicubic;
      display: inline-block;
      vertical-align: middle;
}