.about-btn{
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b8b7b2), color-stop(100%, #696967));
  background-image: -webkit-linear-gradient(#b8b7b2, #696967);
  background-image: -moz-linear-gradient(#b8b7b2, #696967);
  background-image: -o-linear-gradient(#b8b7b2, #696967);
  background-image: linear-gradient(#b8b7b2, #696967);
  padding: .8rem 2.6rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #232323;
  text-shadow: 1px 1px 3px white;
  border: 2px outset buttonface;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.about-btn:hover{
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #696967), color-stop(100%, #b8b7b2));
  background-image: -webkit-linear-gradient(#696967, #b8b7b2);
  background-image: -moz-linear-gradient(#696967, #b8b7b2);
  background-image: -o-linear-gradient(#696967, #b8b7b2);
  background-image: linear-gradient(#696967, #b8b7b2);
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 3px #696967;
}

input{
  margin:0;
}

textarea.form-control{
  height: 8em;
  margin-bottom: 3rem;
}

.content-box-append .button {
  font-size: 1.3em;
}
.contact-img{
  padding: 2rem 1rem;
}


.form-control:focus {
  border-color: #d9b307;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(217, 179, 7, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(217, 179, 7, 0.6);
}

section.panels-index .panels article.panel-caption p{
  color: #545454;
}

div.faq-side {
  margin: 0 auto;
}

.auction-img img {
  border: 2px solid #545454;
}

.tow-rec div {
   text-align: center;
   padding-right: 0.5em;
}

.tow-rec div img {
  margin: 0.5em;
}

.tow-rec div p {
  padding: 3em 0.5em 0 0.5em;
  font-size: 1.6em;
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

.tow-rec div h4 {
  padding: 1em;
}

.services div {
   text-align: center;
   padding-right: 0.5em;
}

.services div img {
  margin: 1em 0;
  border: 2px solid #545454;
}

.services div p {
  padding: 0 0.5em 0 0.5em;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding-top: 3em;
}

.services div h3 {
  padding-top: 3em;
}

.services div h4 {
  padding-top: 5em;
}

.even {
  background: #e2e2e2;
}

.row {
  margin-left: -7px;
  margin-right: -7px;
}

.sidebar article.sidebar-featured a.button {
  font-size: 1.5rem;
}

.content-box .button {
  font-size: 1.5rem;
}

.sub-slider.slick-slider {
  margin-bottom: 0;
}

@media (max-width: 767px) {

  .about-btn {
    margin-top: 1em;
  }

  figure.image-cover figcaption h2{
    font-size: 1.5rem;
  }

 .tow-rec tr td span {
    font-size: 1.1em;
  }

   .content-box p{
    font-size: 1rem;
    padding: 1rem 2rem;
  }

  .content-box p #welcome-msg{
    font-size: 1.4rem;
  }

  .tow-rec div h4{
    font-size: 14px;
    padding: 0.2em;
  }

  .tow-rec div p {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0.5em;
  }

  .services div img{
    margin: 0em;
    margin-bottom: 1em;
  }
   .services div h3 {
    font-size: 10px;
    color: black;
    padding-top: 1em;
  }

  .services div h4{
    font-size: 0.8rem;
  }

  .services div p{
    font-size: 0.8rem;
    padding: 0.3rem 0.7rem;
  }

  .impound tr td p {
    font-size: 0.5em;
  }

  .impound tr td h4 {
    font-size: 0.6em;
  }

  .impound-add h3 {
    font-size: 18px;
  }

  .form-btn {
    font-size: 1rem !important;
    padding: 0.6rem 1.7rem;
  }

  .about-btn {
    font-size: 1rem;
    padding: 0.6rem 1.7rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

    figure.image-cover figcaption h2{
      font-size: 3rem;
    }

    .tow-rec div p {
      font-size: 1em;
    }

    .tow-rec div h4 {
      font-size: 1em;
      padding: 0.5em;
    }

    .content-box p{
      font-size: 1rem;
      padding: 1rem 2rem;
    }

    .content-box-append{
      border: 4px solid #ffe10e;
    }

    .services div img {
      margin-right: 1rem;
    }

    .services div h3 {
    font-size: 1.2rem;
    }

    .services div h4{
      font-size: 1rem;
    }

    .services div p{
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }

    .impound tr td h4 {
      font-size: 1.2rem;
    }

    .impound tr td p {
      font-size: 0.7em;
    }

    .header-contact p.serving-since span {
      font-size: 2.5rem;
    }

    .header-contact p.serving-since {
      font-size: 1.7rem;
    }

    section.panels-index .panels article.panel-caption h3:after {
    content: none;
    position: absolute;
    width: 29px;
    height: 29px;
    right: 5%;
    top: 10%;
    }

    div.faq-side p {
      font-size: 0.6em;
    }

    .recovery-title h1 {
      font-size: 1.8em;
    }

    div.faq-side {
    margin: 0 auto;
    width: 90%;
  }

  .content-box-append .button {
    font-size: 1em;
  }

  .content-box .button-icon {
      font-size: 1.5rem;
  }
}

.auctions-info {
    text-align: center;
    margin: 0.5em 0;
}

.auctions-img {
  margin: 0.5em 0;
  border: 2px solid black;
}

#search-btn {
  margin-bottom: 3em;
}

.auction-divider {
  border-bottom: 3px solid black;
}

.pagination-centered {
  text-align: center;
  margin-top: 1em;
}

.pagination > li > a, .pagination > li > span {
  color: #d9b307;
}

.pagination > li > a:hover {
  color: black
}

.vehicle-img {
  max-width: 399px;
  max-height: 300px;
  margin: 3em 1em 2em 3em;
}

.auctions-btn {
  margin-left: 2.8em !important;
}

.home-btn {
  margin-left: 7em;
}

.info-container {
  padding-bottom: 2.4em;
}

.content-box .button-icon {
  padding-right: 3em;
}

.lowercase {
  text-transform: lowercase;
}

.auction-cal {
  margin-top: -3em;
}

.auction-select {
  width: 8em;
}

.auction-divider {
  border-bottom: 1px solid #545454;
  margin: 0.5em 2em 2em 2em;
}