.errorMessage {
	color: #cc0000;
}
.error {
	color: #cc0000;
}
.ferror {
	color: #cc0000;
}

.href {
	cursor: pointer;
}
#tyfoonCart {
	table {
		background: none;
		border: none;
	}
	table td {
		color: white;
	}
}